[Unit]
Description=LED Control service
After=nginx.service mariadb.service

[Service]
ExecStart=/home/leds/led-ctrl-ws/leds.py
StopSignal=SIGINT
KillSignal=SIGKILL
ReloadSignal=SIGINFO
User=root
Group=root
Type=simple

[Install]
WantedBy=multi-user.target
